<footer class="footer">
  <footer class="footer-distributed">

			<div class="footer-left">

				<h3>CROWD<span>#Batch 912</span></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">CROWD © 2022</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa-solid fa-location-dot"></i>
					<p><span>44 San Juan Ave</span> Medellín, Colombia</p>
				</div>

				<div>
					<i class="fa-solid fa-phone"></i>
					<p>+57.333.444.5555</p>
				</div>

				<div>
					<i class="fa-solid fa-envelope"></i>
					<p><a href="mailto:support@crowd.com">support@crowd.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa-brands fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-linkedin"></i></a>
					<a href="https://github.com/HerrSebas/CROWD"><i class="fa-brands fa-github"></i></a>

				</div>

			</div>

		</footer>
</footer>
