<div class="container-form">

  <h1>events#edit</h1>
  <p>welcome to the edit page</p>
  <%= render "form" %>
  <%= link_to "Delete event", event_path(@event), class: "button-sign-up", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

</div>
