<div class= "container pt-700 bg-dark">
<h2>Welcome, <%= current_user.name %>!</h1>

  <%= simple_form_for [@event, @order] do |f| %>
    <%= f.input :tickets_quantity, label:"How many tickets?", input_html:{} %>
    <%= f.submit "Let's go", class:"btn btn-primary" %>
  <% end %>
</div>
