<div class="container-form">

  <div class="container">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

    <%= cl_image_tag("https://res.cloudinary.com/dskpu0jqu/image/upload/v1666139484/acusnypbcqewlbawmxx4.png",
      width: 400, height: 300, crop: :fill) %>

  </div>

</div>
