<div class="container-form my-6">
  <div class="container">
    <div class="col-md-4 mt-4">
      <div class="card profile-card-4">
        <div class="card-img-block">
          <div class="info-box">Passion moves you further!</div>
              <img class="img-fluid" src="https://w0.peakpx.com/wallpaper/515/792/HD-wallpaper-stadium-stands-seats-sports-black-and-white.jpg" alt="Card image cap">
          </div>
          <div class="card-body pt-5">
              <img src="https://thumbs.dreamstime.com/z/default-avatar-profile-icon-vector-user-image-179582665.jpg" alt="profile-image" class="profile"/>
              <h5 class="card-title text-center"><%= current_user.name +  current_user.last_name %></h5>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <li class="py-2"><strong> Identification: </strong> <%= current_user.identification_number %></li>
              <li class="py-2"><strong> Email: </strong> <%= current_user.email %></li>
          </div>
          <div class="text-center">
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn button-sign-up" %>
          </div>
        </div>
      </div>
    </div>
</div>
