<div class="parallax-section4 parallax-event">
  <div class="grid grid-pad">
    <div class="col-1-1" style="vertical-align= center;">
      <div class="content content-header">
        <div>
          <h1><%= cl_image_tag @tickets.first.event.photo.key  %></h1>
        </div>
        <h1 class="mx-width"><%= @tickets.first.event.event_name %></h1>
      </div>
    </div>
  </div>
</div>

<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>
<% if @order.user == current_user %>
  <div class="container">

    <h2 style="text-align: center;"> These are your tickets! </h2>

    <div class="row" style="grid-gap: 0!important; padding: 1% !important; align-items:center !important;">
    <% @codes.each do |code| %>
        <div class= "code p-2" style="width: 50%; height: 50%; display:flex; justify-content: center; border: 3px solid #dee3e4; border-radius: 18px; flex-shrink: unset;"><%= code.html_safe %></div>
    <% end %>
    </div>

  </div>

  <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
  </svg>
<% end %>
