<ul>

  <li>Name: <%= "#{@ticket.user.name} #{@ticket.user.last_name}" %></li>
  <li>Identification: <%= @ticket.user.identification_number %></li>
  <li>Event: <%= @ticket.event.event_name %></li>
  <li>Date: <%= @ticket.event.event_date %></li>
  <h2>Access permited!</h2>
</ul>
