.map-index {
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
}

// .container-map {
//   display: flex;
//   justify-content: center;
// }
