
.main-container-navbar {
  text-decoration: none;
  align-items: center;
  color: #FF007A;
}

.logo {
  color: rgb(178, 32, 142);
}

.png {
  height: 50px;
}

.navbar-container {
  z-index: 10;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-crowd {
  padding-left: 10px;
  padding-top: 5px;
}

.section {
  text-decoration: none;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #060606;
  height: 75px;
  display: flex;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(15, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

h1 a {
  color: rgb(178, 32, 142);
  text-decoration: none;
}

h3 {
  font-size: 30px;
  font-weight: 450;
  color: rgb(178, 32, 142);
}

.navlink-color {
  color: rgb(178, 32, 142);
}

.logo-domain {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #ffffff;
}

.logo-stadium {
 align-items: center;
}

.welcome-user {
  color: rgb(178, 32, 142) !important;
  font-size: 20px !important;
  font-weight: 200;
}

.wrap {
  width: 100%;
  padding: 3.5em 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  padding: 3.5em 0;
}

.grey {
  background: #ECF0F1;
  padding: 100px 0 150px;
}

/*a {
  color:#1abc9c;
}

a:hover {
  color: #16a085;
}
*/

a, img, .overlay, input, textarea, .plan-wrap p, .filters .filter {
/*transition*/
  -webkit-transition: all .12s linear;
     -moz-transition: all .12s linear;
       -o-transition: all .12s linear;
          transition: all .12s linear;
}

body {
  font-size: 1em;
  line-height: 1.7em;
  color: #777777;
  font-weight: normal;
}

body, input, textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6, .navigation a, .btn, .filters .filter {
  font-family: 'Righteous';
}

h1,h2,h3,h4,h5,h6 {
  position: relative;
  margin: 0.5em 0 0.5em;
  color: #484f58;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff !important;
  text-align: center !important;
}

h2 {
  font-size: 2.8em;
  line-height: .9em;
  color: rgb(178, 32, 142) !important;
  font-family: "Rigtheous";
  text-decoration: none !important;
}

h3 {
  font-size: 2.8em;
  line-height: .9em;
  color: #ffffff !important;
  text-decoration: none !important;
}

/*
h4,h5,h6 {
  font-size: 1.125em;
  line-height: .5em;
}
*/

.pleft-25 {
  padding-left: 25px;
}

.pright-25 {
  padding-right: 25px;
}

.curveUpColor, .curveDownColor {
  fill: #fff;
  stroke: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.curveUpColor {
  margin-top: -100px;
}

.curveDownColor {
  margin-bottom: -100px;
}

.curveMapUp {
  margin-top: 52px;
}

.curveMapDown {
  margin-top: -238px;
}

.curveGrey {
  fill: #ECF0F1;
  stroke: #ECF0F1;
}

/* Buttons */

/*.btn {
  position: relative;
  display: inline-block;
  margin: .8em 0;
  padding: .5em 1.6em;
  color: #fff;
  font-size: .8em;

border-radius
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background:#1abc9c;
}
*/

.btn:hover, .btn:focus, .btn-current {
  color: #fff;
}

.btn:hover, .social-set a:hover, .team-social a i:hover, .header-carousel .owl-buttons .owl-prev:hover, .header-carousel .owl-buttons .owl-next:hover {
  -webkit-animation: rubberBand .8s 1;
     -moz-animation: rubberBand .8s 1;
       -o-animation: rubberBand .8s 1;
          animation: rubberBand .8s 1;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.15, 0.9, 1);
    transform: scale3d(1.15, 0.9, 1);
  }

  40% {
    -webkit-transform: scale3d(0.8, 1.15, 1);
    transform: scale3d(0.8, 1.15, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
 0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.15, 0.9, 1);
    transform: scale3d(1.15, 0.9, 1);
  }

  40% {
    -webkit-transform: scale3d(0.8, 1.15, 1);
    transform: scale3d(0.8, 1.15, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.btn-big {
  font-size: 1.4em;
  padding: .65em 2.2em;
}

.btn-price {
  width: 80%;
  margin: 1.5em 0 1.8em;
  padding: .5em;
  letter-spacing: 2px;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
  cursor: default;
  color: #bbb;
  background: #e6e6e6;
}

.btn-event {
  margin: 10px;
  color: rgb(178, 32, 142);
  border: 2px solid rgb(178, 32, 142);
  background: transparent;
}

.btn-event:hover {
  border-color: transparent;
  background-color:rgb(178, 32, 142);
}

.btn-ghost {
  margin: 10px;
  color: #fff;
  border: 2px solid rgb(178, 32, 142);
  background: transparent;
}

.btn-ghost:hover {
  border-color: transparent;
  background-color:rgb(178, 32, 142);
}

.btn-ghost-dark {
  border-color: rgb(178, 32, 142);
  color: rgb(178, 32, 142);
}

/* *********************************************************
  Navigation
********************************************************* */

.navigation input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.navigation label {
  display: none;
  cursor: pointer;
}

.navigation {
  position: relative;
  float: right;
  margin: 10px 0 0 0;
}

.navigation ul li {
  position: relative;
  display: inline;
  float: left;
}

.navigation a {
  font-size: 1.2em;
  display: block;
  margin-left: 50px;
  padding-bottom: 3px;
  color: #fff;
}

.navigation .current a, .navigation ul li a:hover, .navigation ul li a:focus {
  color:rgb(178, 32, 142);
}

.navigation .sub-menu {
  position: absolute;
  z-index: 9999;
  top: 28px;
  left: -27px;
  visibility: hidden;
  width: 210px;
  padding: 20px;
/*transition*/
  -webkit-transition: all .1s linear;
     -moz-transition: all .1s linear;
       -o-transition: all .1s linear;
          transition: all .1s linear;
  opacity: 0;
  border-top: 1px solid rgb(178, 32, 142);
  background: #fff;
/*box-shadow*/
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.navigation .sub-menu li {
  position: relative;
}

.sub-menu li a {
  width: 170px;
  margin: 0!important;
  padding: .5em 1em;
  border-bottom: none!important;
/*border-radius*/
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.sub-menu li a:hover {
  background: #f9f9f9;
}

.navigation li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.next-events-btn {
  display: flex;
  justify-content: center;
  padding: 10px;
}
/* *********************************************************
  Home Slider
********************************************************* */

.header-carousel {
  overflow: hidden;
}

.home-slider {
  height: 700px;
  background-repeat: repeat;
  background-position: center center;
}

.home-slide-1 {
  background-image: url('images/slider/big1.jpg');
}

.home-slide-2 {
  background-image: url('images/slider/big2.jpg');
}

.home-slide-3 {
  background-image: url('images/slider/big3.jpg');
}

/* *********************************************************
  Parallax
********************************************************* */

.parallax-section {
  z-index: -1;
  clear: both;
  background-image: url(https://res.cloudinary.com/dbnrwssis/image/upload/v1666932719/crowd/dominik-hofbauer-1yLt0422fYQ-unsplash_6_mnunum.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.parallax2 {
  background-image: url(https://res.cloudinary.com/dbnrwssis/image/upload/v1667273654/crowd/Copia_de_Crowd_lfpam8_1_vapqap.jpg);
  background-size: cover;
}

.parallax3 {
  background-image: url(https://res.cloudinary.com/dbnrwssis/image/upload/v1667444945/crowd/stadium-event_kr2b8b.jpg);
  background-size: cover;
}

.parallax-event {
  background-image: url(https://res.cloudinary.com/dbnrwssis/image/upload/v1667534476/crowd/event-banner_hfxgsx.png);
  background-size: cover;
}

.parallax-section .content, .top-slider .content-header, .home-slider {
  margin: 0 auto;
  text-align: center;
}

.parallax-section .content-header, .home-slider .content-header {
  padding: 145px 0 250px;
}

.parallax2 .content {
  padding-top: 75px;
  padding-bottom: 75px;
}

.parallax-section3 .content-header, .home-slider .content-header {
  padding: 50px 0 250px;
}

.parallax-section4 .content-header, .home-slider .content-header {
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-slider .content-header {
  padding: 130px 0;
}

.parallax-section .content h2,
.content-header h2,
.parallax-section .content h3,
.content-header h3 {
  color: #fff;
}

.parallax-section h2 > span,
.parallax-section h3 > span,
.content-header h2 > span,
.content-header h3 > span {
  background: #fff;
}

.parallax-section .content h2, .content-header h2 {
  font-size: 38px;
}

.parallax-section .content p, .top-slider .content-header p, .home-slider .content p {
  width: 70%;
  margin: 0 auto 30px auto;
  color: #fff;
}

/* *********************************************************
 Pricing
********************************************************* */

#cup,#cups ul,#cups ul li {
  margin: 50px;
  padding: 50px;
}

#cup-tables:after {
  display: table;
  clear: both;
  content: '';
}

.cup-wrap .title h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0;
  padding: .6em 0;
  color:#ffffff;
  ;
}

.cup-wrap .title h2.best-cup-title {
  color: #ffffff;
  border-bottom: none;
/*border-radius*/
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

.cup-wrap .title h2.best-cup-title,
.cup-wrap .price p.best-cup-price,
.cup-wrap .btn-best-cup {
  color: #ffffff;
}

.cup-wrap .price p {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 120px;
  width: 120px;
  height: 120px;
  margin: 1.5em auto;
  color:#ffffff;
  border: 2px solid #ffffff;
/*border-radius*/
  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
          border-radius: 60px;
  background: transparent;
}

.cup-wrap:hover .price p {
/*transform*/
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);

}

.cup-wrap .price p.best-cup-price {
  border-color: transparent;
  background: #484f58;
}

.cup-wrap .price p span {
  color: #394879;
}

.cup-wrap .options {
  margin-top: 10em;
}

.cup-wrap .options li {
  font-weight: 700;
  line-height: 2.5;
  color: #484f58;
}

.cup-wrap .options li span {
  font-weight: 400;
  color: #979797;
}

.cup-wrap .button {
  display: inline-block;
  width: 80%;
  margin: 1.5em 0 1.8em;
  padding: 1.1em;
/*border-radius*/
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.cup-tables {
  margin: 50px;
  padding: 50px;
}

.cup-container {
  margin-top: 50px;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: space-between;
}

.cup-image {
  justify-content: center;
  width: 165px;
  padding: 10px;
}

.enjoy-row{
  display: flex;
}

.enjoy-column {
  flex: 50%;
  justify-content: center;
}

.enjoy-text {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  vertical-align: middle;
}

.bg-fans{
  display:flex;
  justify-content: center;
}

.fans-img {
  margin: 10%;
  justify-content: center;
  padding: 10px;
  width: 70%;
}
.stadium-png {
  width: 90%;
  align-items:center !important;
}
